.content {
  flex-direction: column;
  text-align: justify;
}

.services {
  max-width: 800px;
  color: black;
  background: white;
  border-radius: 25px;
  padding: 25px;
  margin-top: 1em;
}

.services h3 {
  padding-top: 20px;
}

.services li {
  padding-top: 10px;
}

span {
  color: dimgray;
}

