.services {
  max-width: 800px;
  border-radius: 25px;
  padding: 25px;
  margin: 10px;
  color: black;
  background: white;
  max-height: 80vh;
  overflow-y:scroll;
}

.services h3 {
  padding-top: 20px;
}

.services li {
  padding-top: 10px;
}

span {
  color: dimgray;
}

