.aboutWapper {
  max-width: 800px;
  border-radius: 25px;
  max-height: 90vh;
  overflow-y:scroll;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video {
  margin: auto;
  height: 250px; 
  width: 400px
}

.about-me {
  max-width: 800px;
  border-radius: 25px;
  padding: 25px;
  margin: 10px;
  color: black;
  background: white;
  max-height: 80vh;
}

.about-me p {
  padding-top: 10px;
  text-align: justify;
}
