.homeContent {
  background-image: url('./Landing.png');
  height: 90vh;
  width: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  padding: 120px;
}

.missionStatement {
  max-width: 550px;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 25px;
  padding: 25px;
}

.callToAction {
  max-width: 300px;
  padding: 20px;
}

.callToAction button {
  margin-top: 10px;
}

@media screen and (max-width: 769px) {
  .homeContent {
    background-image: url('./Landing.png');
    height: 90vh;
    width: 100vw;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
}