.iconify {
  background: url('https://api.iconify.design/fa-whatsapp.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/fa-whatsapp.svg?height=14&inline=true');
  vertical-align: -0.143em;
}

.contact {
  max-width: 800px;
  color: black;
  background: white;
  border-radius: 25px;
  padding: 25px;
  margin-top: 1em;
}

.contact p {
  margin: 10px;
}

label {
  display: block;
  margin-bottom: .2em;
}

.radio-select {
  font-size: small;
  display: flex;
  justify-content: space-around;
}

input, textarea {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #006B6B;
}


