.iconify {
  background: url('https://api.iconify.design/fa-whatsapp.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/fa-whatsapp.svg?height=14&inline=true');
  vertical-align: -0.143em;
}

.contact {
  max-width: 800px;
  min-width: 300px;
  color: black;
  background: white;
  border-radius: 25px;
  padding: 25px;
  margin-top: 1em;
}

.contact p {
  margin: 10px;
}

.contact h2 {
  color:#006B6B;
}

label {
  display: block;
  margin-bottom: .1em;
}


input, textarea, select {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #006B6B;
  margin-bottom: .7em;
}


