button {
  background-color: white;
  color: #006B6B;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 1px solid #006B6B;
}

button:hover {
  background-color: #006B6B; 
  color: white;
  border: 1px solid #006B6B;
}

.content {
  max-height: 90vh;
  overflow-y:scroll;
}

.backgroundImage {
  background-image: url('./Map.png');
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}


.callToAction button {
  margin: 1em;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  min-width: 10vw;
  background-color: #006B6B;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;
}

.navlinks a {
  font-weight: bold;
  color: white;
}

.logo {
  font-weight: bold;
  color: white;
}

.bars {
  display: none;
  font-weight: bold;
  color: white;
  padding: 20px;
}


@media screen and (max-width: 1024px) {

  .navlinks {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}


@media screen and (max-width: 769px) {
  .content {
    align-items: center;
    flex-direction: column;
    padding: 0px;
    font-size: small;
  }

 
  .navlinks {
    position: absolute;
    right: 0px;
    height: 65vh;
    top: 10vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006B6B;
    width: 50%;
    display: none;
  }

  .navlinks li {
    padding: 35px;
  }

  .bars {
    display: block;
    cursor: pointer;
  }
}

