button {
  background-color: white;
  color: #006B6B;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 1px solid #006B6B;
}

button:hover {
  background-color: #006B6B; 
  color: white;
  border: 1px solid #006B6B;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  width: 100vw;
  background-color: #006B6B;
  padding: 15px;
}

.logo {
  font-weight: bold;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navlinks a {
  font-weight: bold;
  color: white;
  margin: 10px;
}


.content {
  max-height: 90vh;
  overflow-y:scroll;
  padding: 0px;
  margin: 0px;
}

.backgroundImage {
  background-image: url('./Map.png');
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.callToAction button {
  margin: 1em;
}


@media screen and (max-width: 768px) {
  .header {
    height: 8vh;
  }

  .content {
    font-size: small;
  }

  .homeContent h2, h3 {
    font-size: small;
  }

  .copy {
    display: none;
  }
  
  .mobileNavlinks {
    background-color: #006B6B; 
    position: absolute;
    right: 0px;
    top: 8vh;
    width: 50%;
    display: none; 
  }

  .mobileNavlink {
    text-align: center;
    margin: 20px;
    padding: 10px;
  }

  .mobileNavlink a {
    cursor: pointer;
    font-weight: bold;
    color: white;
  }

  .bars { 
    font-weight: bold;
    color: white;
    padding: 10px; 
  }
}

